@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply min-h-screen;
}
/* Responsive CSS */
@media (min-width: 320px) {
  .container {
    @apply max-w-full;
  }
}
@media (min-width: 1280px) {
  .container {
    @apply max-w-[1344px];
  }
}
@media (max-width: 767px) {
  .container {
    @apply px-4;
  }
}
.main-bg {
  background: url('/public/images/bg.avif');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
